
        body
		      {
	           font-family: arial, roboto, calibri, sans-serif;
			   background:#000;
			   font-size:large;
			  }
				  
		p.mail
		      {
			   color:#fff;
			   font-weight:bold;
			   text-align:center;
			  }


		.einstein{background-color:#000;
		border:20px solid white;
		box-shadow:0 0 5px #fff, 0 0 10px #bbb, 0 0 20px #bbb, 0 0 40px #bbb;
		border-radius:20px;
		margin:200px;
		padding:20px;
		}
		
		.einstein:hover
		             {
					  
					 }
		
		
		img{
		display:block;
		margin-left:auto;
		margin-right:auto;
		border-radius:10px;
		box-shadow:0 0 10px #bbb, 0 0 20px #bbb;
		}
		
		h1{text-align:center;
		color:#fff;
		}
		
		
		.logins{text-align:center;
		color:white;
		}
		
		
		#detail{text-align:center;
		color:#000;
		border-radius:40px;
		padding:12px 36px;
		}
		
		#message{text-align:center;
		color:#000;
		border-radius:10px;
		padding:12px 36px;
		}
		
		
		a
		 {
		  background:#000;
          border-radius:40px;
          padding:12px 36px;
		  color:#fff;
		  letter-spacing:2px;
		  text-decoration:none;
		  }
		  
		#@media screen and (max-width: 500px)
	
		